.statistic-card-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
}
.statistic-card {
  border-radius: 30px;
  background-color: #1c1f36;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px;
  min-width: 200px;
}
.statistic-card .card-header {
  font-size: 22px;
  color: #999da9;
  text-align: left;
}
.statistic-card .big-number .value {
  font-size: 100px;
  color: #999da9;
  font-weight: 300;
}
.statistic-card .big-number .unity {
  font-size: 22px;
  color: #0cbe93;
}
.statistic-card .card-title {
  font-size: 30px;
  color: #948326;
}
.statistic-card .icon-container {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #948326;
  padding: 10px 10px 20px 20px;
  border-radius: 0 0 0 60px;
  border-left: 5px solid #6b6029;
  border-bottom: 5px solid #6b6029;
}
.statistic-card .icon-container .icon-box {
  font-size: 30px;
  color: #6b6029;
}
