.change-view {
  display: flex;
  gap: 10px;
}
.change-view .label.active {
  color: var(--change-view-active-light-color);
}
.change-view .label.inactive {
  color: #a7b9ed;
}
.change-view .switch.active .ant-switch-handle::before {
  background-color: var(--change-view-active-light-color);
}
.change-view .switch.active {
  background-color: var(--change-view-active-dark-color) !important;
}
.change-view .switch.inactive .ant-switch-handle::before {
  background-color: var(--change-view-inactive-light-color);
}
.change-view .switch.inactive {
  background-color: var(--change-view-inactive-dark-color) !important;
}
