.header {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header .text {
  font-size: 30px;
  color: var(--header-text-color);
  font-family: "Roboto Light Font";
}
.header .circle {
  background-color: var(--header-circle-bg-color);
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
